# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: UnitTest
  displayName: Run unit test
  jobs:
    - job: jest
      steps:
        - script: ./script/unittestweb

- stage: Build
  displayName: Build image
