services:
  keycloak:
    extends:
      file: ../keycloak/docker-compose.yml
      service: keycloak
    volumes:
      - ../keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    command: start-dev --import-realm --hostname-strict false --proxy-headers xforwarded
    networks:
      - cfo

  keycloak_proxy:
    image: nginx:alpine
    volumes:
      - ./ssl/nginx-keycloak.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
    networks:
      - cfo
    depends_on:
      keycloak:
        condition: service_healthy

  api:
    build:
      context: ../../api
    command: /app/scripts/start_api_with_test_fixture
    networks:
      - cfo

  api_proxy:
    image: nginx:alpine
    ports:
      - "3443:443"
    volumes:
      - ./ssl/nginx-api.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
    networks:
      - cfo
    depends_on:
      - api

  web:
    build:
      context: ../../web
      args:
        - VUE_APP_BASE_API=https://api_proxy
        - VUE_APP_KEYCLOAK_URL=https://keycloak_proxy
        - VUE_APP_KEYCLOAK_REALM=odds
        - VUE_APP_KEYCLOAK_CLIENT_ID=cfo
    ports:
      - "8080:8080"
      - "8443:443"
    volumes:
      - ./ssl/nginx-https.conf:/etc/nginx/conf.d/https.conf
      - ./ssl:/etc/nginx/ssl
    networks:
      - cfo
    depends_on:
      api_proxy:
        condition: service_started
      keycloak:
        condition: service_healthy

  e2e:
    build:
      context: ../../e2e
    volumes:
      - ../../e2e/test-results:/app/test-results
      - ../../e2e/playwright-report/:/app/playwright-report
    command: npx playwright test
    depends_on:
      web:
        condition: service_healthy
      keycloak_proxy:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      api_proxy:
        condition: service_started
    networks:
      - cfo

  e2e_cucumber:
    build:
      context: ../../e2e
    command: npm run test:cucumber
    depends_on:
      - web
    networks:
      - cfo
networks:
  cfo:
